body {
    font-family: "Gorey";
    color: #000000;
    background: #ffffff;
}

header {
    position: sticky;
    top: 0;
    font-size: 2em;
    align-content: baseline;
    background-color: #F2F2F2;
    height: 160px;
    border-width: 4px 0 4px 0;
    border-style: solid;
    border-color: #cdcdcd;
    z-index: 1000;
}

menu {
    position: sticky;
    top: 0;
    font-size: 2em;
    align-content: baseline;
    background-color: #F2F2F2;
    height: 160px;
    z-index: 1000;
    border-width: 4px 0 4px 0;
    border-style: solid;
    border-color: #cdcdcd;
}

.values {
    position: absolute;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

nav {
    position: fixed;
    color: #ffffff;
    font-size: .6em;
    top: 10px;
    right: 10px;
    background: #333;
    padding: 0px 10px;
    border-radius: 10px;
    font-weight: normal;
}
nav a {
    line-height: 1.7;
    text-decoration: none;
    color: whitesmoke;
    opacity: 0.9;
}
nav a:hover {
    text-decoration: underline;
}

nav a.active {
    opacity: 1
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.5em;
}

ul {
    font-size: 2em;
    list-style-type: none;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: visible;
}

.slides-wrapper {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: solid 1px #00f;
    height: 100%;
}

.slides-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
}

.slide {
    background-color: #fff;
    color: #000;
    height: 100vh;
    width: 100vw;
    max-width: 1980px;
    max-height: 1020px;
    flex-shrink: 0;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Gorey";
    src: url("./img/fonts/Gorey.ttf");
}
